<%- include("header") -%>

<div class="box" id="heading">
	<h1>ABOUT</h1>
	<h4><em>The Author</em></h4>
</div>

<div class="box">
	<p><strong>Creator: <em>Satyam Abhishek</em></strong></p>
	<p>This app was created as a part of learning process. This app implements the use of back-end web dev with mongoDB for the database part.</p>
	<h6><em>
		&nbsp; P.S: The icons used in this project are created by <a href="https://www.flaticon.com/authors/miftakhul-rizky">Miftakhul Rizky - Flaticon</a>
	</em></h6>
</div>

<%- include("footer") -%>