<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>To-Do</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>

	<div class="headerButtons home">
		<a href="/">
			<img class="headerIcons" src="/images/home.png" alt="Home" title="Home">
		</a>
	</div>
	<div class="headerButtons about">
		<a href="/details/about">
			<img class="headerIcons" src="/images/about.png" alt="About" title="About">
		</a>
	</div>
	<div class="headerButtons setting">
		<a href="/administrator/settings">
			<img class="headerIcons" src="/images/setting.png" alt="Server settings" title="Server settings">
		</a>
	</div>