/* #A683E3 */
 
 html {
	 text-align: center;
	background-color: #E4E9FD;
	/* background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%); */
	background-image: url("/images/bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	min-height: 100vh;
	width: 100vw;
	font-family: 'Noto Serif', serif;
  }
  
  h1 {
	color: #fff;
	padding: 10px;
	padding-bottom: 0;
	margin: 0;
  }

  h4 {
	color: #fff;
	margin: 0;
	padding: 2px;
	padding-bottom: 10px;
	font-family: sans-serif;
	font-size: 1em;
  }
  
  .box {
	min-width: 60%;
	max-width: fit-content;
	margin: 50px auto;
	background: rgba(255, 255, 255, 1);
	border-radius: 5px;
	box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }

  .headerButtons {
	  width: 30px;
	  position: absolute;
	  top: 10px;
	  padding: 4px 4px 0 4px;
	  background-color: rgba(255, 255, 255, 0.15);
	  border-radius: 5px;
	  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }

  .headerIcons {
	  width: 30px;
  }
  
  .home {
	  left: 10px;
  }

  .about {
	  left: 50px;
  }

  .setting {
	  right: 10px;
  }

  #heading {
	background-color: rgba(255, 255, 255, 0.15);
	text-align: center;
  }
  
  .item {
	min-height: 70px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #F1F1F1;
  }
  
  .item:last-child {
	border-bottom: 0;
  }
  
  input:checked+p {
	font-style: italic;
	color: rgba(0, 0, 0, 0.3);
	text-decoration: line-through;
	text-decoration-color: rgba(0, 0, 0, 0.8);
  }
  
  input[type="checkbox"] {
	margin: 20px;
  }
  
  p {
	margin: 0;
	padding: 20px;
	font-size: 20px;
	font-weight: 200;
	color: #00204a;
	width: 100%;
  }
  
  form {
	  display: contents;
  }

  form.item {
	text-align: center;
	margin-left: 20px;
  }
  
  button.add {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border-color: transparent;
	background-color: rgba(255, 255, 255, 0.15);
	color: #fff;
	font-size: 30px;
	/* padding-bottom: 6px; */
	margin-right: 6px;
	border-width: 0;
  }

  .plus {
	  position: relative;
	  right: 8px;
	  bottom: 3px;
	  width: 54px;
  }

  button.trash {
	min-height: 50px;
	width: 50px;
	border-radius: 50%;
	/* border-color: transparent; */
	background-color: #fff;
	/* color: #fff; */
	/* font-size: 30px; */
	/* padding-bottom: 6px; */
	padding-right: 20px;
	border-width: 0;
  }

  label {
	  min-width: fit-content;
	  padding-left: 5px;
	  text-align: justify;
  }

  input[type="password"] {
	text-align: center;
	height: 60px;
	top: 10px;
	border: none;
	background: transparent;
	font-size: 20px;
	font-weight: 200;
	width: 100%;
  }

  input[type="password"]:focus {
	outline: none;
	box-shadow: inset 0 -3px 0 0 rgba(255, 255, 255, 0.15);
  }

  input[type="password"]:focus::placeholder{
	opacity: 0;
  }

  input[type="text"] {
	text-align: center;
	height: 60px;
	top: 10px;
	border: none;
	background: transparent;
	font-size: 20px;
	font-weight: 200;
	width: 100%;
  }
  
  input[type="text"]:focus {
	outline: none;
	box-shadow: inset 0 -3px 0 0 rgba(255, 255, 255, 0.15);
  }

  input[type="text"]:focus::placeholder{
	  opacity: 0;
  }
  
  #outputArea {
	border: none;
	background: rgba(255, 255, 255, 0.2);
	font-size: 20px;
	font-weight: 200;
	width: 90vw;
	height: 40vh;
	box-sizing: border-box;
	resize: none;
	border-radius: 5px;
	box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }

  ::placeholder {
	color: grey;
	opacity: 1;
  }
  
  footer {
	color:rgba(255, 255, 255, 0.9);
	/* color: rgba(0, 0, 0, 0.5); */
	text-align: center;
  }

  ::-webkit-scrollbar {
	width: 8px;
	height: 8px;
  }

  ::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
	background-color: #dfdfdf;
	border-radius: 10px;
  }